%display {
    display: flex;
    justify-content: center;
} 
%myfont{
    font-family: 'Comfortaa', cursive;
    font-size: 1rem;
}
body {
    @extend %myfont;
    background-color: #335c67;
    color: #fff3b0;
    
}
main {
    @extend %display;
    flex-direction: column;
    margin: 3% 6%;
}
header {
    @extend %display;
    margin-bottom: 2rem;
    
    h1 {
        text-align: center;
        padding: 2rem 7rem;
        background-color: #172d33;
    }
}
.todoForm {
    @extend %display;
    input {
        @extend %myfont;
        width: 20rem;
        height: 2rem;
        padding: 0 0.5rem;
    }
    button {
        margin: 0 1%;
        background-color: #fff3b0;
        color: #172d33;
        font-weight: 900;
        @extend %myfont;
        width: 6rem;
    }
}
li {
    font-size: 1.2rem;
    display: block;
    margin-top: 2rem;
}
#toDoContent {
    width: 30rem;
}
i {
    margin-left: 1.5rem;
    margin-right: 1rem;
}
.deleteDoneTitles {
    display: flex;
    margin: 2rem ;

    h2 {
    font-size: 1rem;
    margin: 0 0.5rem;
    }
}
hr {
    border: 1px solid #fff3b0;
}
footer {
    margin: 2%;
    @extend %display;
    p {
    font-size: 0.7rem;
    }
}